In [1]:
# to cast a vote
#CNIC
#VOTER LIST
#ELECTION DAY

election_day = input ("is today is election day?True/False")
cnic = input ("do you have a valid cnic?")
voter_list = input("is your name is in list?")
if election_day == "yes":
    if cnic == "yes":
        if voter_list == "yes":
            print("You Can Cast Vote")
        else:
            print("Your name is not in voter list.You can not cast vote")
    else:
        print("You have not a valid cnic.You can not cast vote")
else:
    print("Today is not election day.You can not cast vote")

is today is election day?True/False yes
do you have a valid cnic? yes
is your name is in list? yes

You Can Cast Vote

In [24]:
 salary = int(float(input("enter you salary")))
experience = int(float(input("years of experience")))
if experience >= 10:
    bonus = salary * (100 / 100)  # 100% bonus
elif experience >= 5:
    bonus = salary * (50 / 100)   # 50% bonus
elif experience >= 0:
    bonus = salary * (10 / 100)   # 10% bonus for less than 5 years
print(f"you have Bonus of Rs{bonus}")
print(f"new_salary={salary+bonus}")

enter you salary 60000
years of experience 10

you have Bonus of Rs60000.0
new_salary=120000.0

In [25]:
salary = int(float(input("enter you salary")))
experience = int(float(input("years of experience")))
if experience >= 10:
    bonus = salary * (100 / 100)  # 100% bonus
elif experience >= 5:
    bonus = salary * (50 / 100)   # 50% bonus
elif experience >= 0:
    bonus = salary * (10 / 100)   # 10% bonus for less than 5 years
print(f"you have Bonus of Rs{bonus}")
print(f"new_salary={salary+bonus}")

enter you salary 60000
years of experience 5

you have Bonus of Rs30000.0
new_salary=90000.0

In [26]:
salary = int(float(input("enter you salary")))
experience = int(float(input("years of experience")))
if experience >= 10:
    bonus = salary * (100 / 100)  # 100% bonus
elif experience >= 5:
    bonus = salary * (50 / 100)   # 50% bonus
elif experience >= 0:
    bonus = salary * (10 / 100)   # 10% bonus for less than 5 years
print(f"you have Bonus of Rs{bonus}")
print(f"new_salary={salary+bonus}")

enter you salary 60000
years of experience 4

you have Bonus of Rs6000.0
new_salary=66000.0

# python collections : python data structures
list

tuple

dictionary

set

In [8]:
courses= ["mobile, apple, sasung, tecno "]

In [6]:
courses.clear()

In [9]:
courses

['mobile, apple, sasung, tecno ']

In [1]:
subjects = ["English, Urdu, Pakistan Studies, Mathematics, Chemistry, Biology, Physics, Sindhi, Islamiat"]

In [2]:
print(type(subjects))

<class 'list'>

In [13]:
print(subjects,type(subjects))

['English, Urdu, Pakistan Studies, Mathematics, Chemistry, Biology, Physics, Sindhi, Islamiat'] <class 'list'>

In [18]:
dd = ["yt"]

In [19]:
type(dd)

list

In [2]:
name=input("enter your name")
father=input("enter your father name")
roll=input("enter your roll number")
clas=input("enter your class")
section=input("enter your section")
adress=input("enter your address")
print(f"""
                        STUDENT IDENTITY CARD
                        _____________________
                NAME        :    {name}
                FATHER NAME :    {father}
                ROLL NUMBER :    {roll}
                CLASS       :    {clas}
                SECTION     :    {section}
                ADDRESS     :    {adress}

                  NOTE : IF LOST RS-50 WILL BE CHARGED




""")

enter your name MUHAMMAD SHUKAIB
enter your father name MUHAMMAD HANIF
enter your roll number 09
enter your class 8TH
enter your section BOYS
enter your address YOUSAF GOTH

                        STUDENT IDENTITY CARD
                        _____________________
                NAME        :    MUHAMMAD SHUKAIB
                FATHER NAME :    MUHAMMAD HANIF
                ROLL NUMBER :    09
                CLASS       :    8TH
                SECTION     :    BOYS
                ADDRESS     :    YOUSAF GOTH

                  NOTE : IF LOST RS-50 WILL BE CHARGED

In [5]:
name=input("enter your name")
father=input("enter your father name")
roll=input("enter your roll number")
gr=input("enter your gr no")
clas=input("enter your class")
section=input("enter your section")
adress=input("enter your address")
print(f"""
                        STUDENT IDENTITY CARD
                        _____________________
                NAME        :    {name}
                FATHER NAME :    {father}
                ROLL NUMBER :    {roll}
                G.R NUMBER  :    {gr}
                CLASS       :    {clas}
                SECTION     :    {section}
                ADDRESS     :    {adress}

                  NOTE : IF LOST RS-50 WILL BE CHARGED




""")

enter your name MUHAMMAD SHUKAIB
enter your father name MUHAMMAD HANIF
enter your roll number 09
enter your gr no 2127
enter your class 8th
enter your section BOYS
enter your address YOUSAF GOTH BALDIA TOWN KARACHI

                        STUDENT IDENTITY CARD
                        _____________________
                NAME        :    MUHAMMAD SHUKAIB
                FATHER NAME :    MUHAMMAD HANIF
                ROLL NUMBER :    09
                G.R NUMBER  :    2127
                CLASS       :    8th
                SECTION     :    BOYS
                ADDRESS     :    YOUSAF GOTH BALDIA TOWN KARACHI

                  NOTE : IF LOST RS-50 WILL BE CHARGED

# Functions:
      - to reduce codee
      - code readibility
      - easy code debugging
      - reduce redundancy

In [1]:
def identity_card():
    name=input("enter your name")
    father=input("enter your father name")
    roll=input("enter your roll number")
    gr=input("enter your gr no")
    clas=input("enter your class")
    section=input("enter your section")
    adress=input("enter your address")
    print(f"""
                            STUDENT IDENTITY CARD
                            _____________________
                    NAME        :    {name}
                    FATHER NAME :    {father}
                    ROLL NUMBER :    {roll}
                    G.R NUMBER  :    {gr}
                    CLASS       :    {clas}
                    SECTION     :    {section}
                    ADDRESS     :    {adress}
    
                      NOTE : IF LOST RS-50 WILL BE CHARGED""")

In [2]:
identity_card()

enter your name SAIFUDDIN
enter your father name MUHAMMAD HANIF
enter your roll number 371344
enter your gr no 2124
enter your class 2nd Year
enter your section BOYS
enter your address YOUSAF GOTH BALDIA TOWN KARACHII

                            STUDENT IDENTITY CARD
                            _____________________
                    NAME        :    SAIFUDDIN
                    FATHER NAME :    MUHAMMAD HANIF
                    ROLL NUMBER :    371344
                    G.R NUMBER  :    2124
                    CLASS       :    2nd Year
                    SECTION     :    BOYS
                    ADDRESS     :    YOUSAF GOTH BALDIA TOWN KARACHII

                      NOTE : IF LOST RS-50 WILL BE CHARGED

In [9]:
def Grocery_list():
    grocery_list = []
    while True:
        product = input("Enter Grocery Product + Quantity : Type stop for break   ").lower()
        if product == 'stop':
            break
        else:
            grocery_list.append(product)
    print(f'\nGrocery_list = {grocery_list}')

In [10]:
Grocery_list()

Enter Grocery Product + Quantity : Type stop for break aata  50kg
Enter Grocery Product + Quantity : Type stop for break stop

Grocery_list = ['aata  50kg']

In [16]:
def Result():
    grade = input("Enter your grade: ").upper()
    if grade == 'A+':
        print("CONGRATULATIONS YOU ARE PASS!")
    elif grade == 'A':
        print("CONGRATULATIONS YOU ARE PASS!")
    elif grade == 'B':
        print("CONGRATULATIONS YOU ARE PASS!")
    elif grade == 'C':
        print("CONGRATULATIONS YOU ARE PASS!")
    if grade == 'D':
        print("CONGRATULATIONS YOU ARE PASS!")
    elif grade == 'E':
        print("HARD LUCK YOU ARE FAIL!")

In [22]:
del Result

In [23]:
Result()

NameError: name 'Result' is not defined