# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [21]:
print("Hi Phython")
print(123)
print(True)

Hi Phython
123
True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [4]:
print("-","Hi Python"," ","\n",12,False,12.0)

- Hi Python
 12 False 12.0

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [1]:
print("Hello", end=" ")
print(42, end=" ")
print(True, end=" ")
print(3.14)

Hello 42 True 3.14

4) Can a python print function take no value to print???

In [2]:
print("First line")
print()
print("Third line")

First line

Third line

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [3]:
# Personal Information
friend_name = "Mr. Ahmed"
age = 30
profession = "Lawyer"
bachelor_degree = "Law"
bachelor_year = 2005

# Work Information
law_firm = "The Himalya Associates"
work_location = "Karachi"
working_since = 2015

# Physical Attributes
height_feet = 5.10
weight_grams = 70600

# Financial Information
monthly_income_pkr = 200000  # Rs. 200k PKR

# Printing all variables to check
print(friend_name, age, profession, bachelor_degree, bachelor_year, law_firm, work_location, 
      working_since, height_feet, weight_grams, monthly_income_pkr)

Mr. Ahmed 30 Lawyer Law 2005 The Himalya Associates Karachi 2015 5.1 70600 200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [4]:
# Define the current year
current_year = 2025  # Assuming the current year is 2025

# Mr. Ahmed's pass-out year
bachelor_year = 2005

# Calculate the years since graduation
years_since_graduation = current_year - bachelor_year

# Print the result
print("Years since graduation:", years_since_graduation)

Years since graduation: 20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [5]:
# Define the current year
current_year = 2025  # Assuming the current year is 2025

# Year when Mr. Ahmed started working at the law firm
working_since = 2015

# Calculate the number of years he has been working
years_in_firm = current_year - working_since

# Print the result
print("Years working in 'The Himalya Associates':", years_in_firm)

Years working in 'The Himalya Associates': 10

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [6]:
# Mr. Ahmed's monthly income in PKR
monthly_income_pkr = 200000  

# Exchange rate (Assumed)
exchange_rate = 280  

# Convert to USD
monthly_income_usd = monthly_income_pkr / exchange_rate  

# Print the result
print("Monthly income in USD: $", round(monthly_income_usd, 2))

Monthly income in USD: $ 714.29

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [7]:
# Mr. Ahmed's monthly income in PKR
monthly_income_pkr = 200000  

# Exchange rate (Assumed)
exchange_rate = 280  

# Convert to USD (Float value)
monthly_income_usd = monthly_income_pkr / exchange_rate  

# Check type
print("Type before conversion:", type(monthly_income_usd))  # Checking data type

# Convert to integer
monthly_income_usd_int = int(monthly_income_usd)  

# Print the integer value
print("Monthly income in USD (Integer):", monthly_income_usd_int)

# Check type after conversion
print("Type after conversion:", type(monthly_income_usd_int))

Type before conversion: <class 'float'>
Monthly income in USD (Integer): 714
Type after conversion: <class 'int'>

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

# Mr. Ahmed's weight in grams
weight_grams = 70600  

# Check the type before conversion
print("Type before conversion:", type(weight_grams))  

# Convert grams to kilograms (1 kg = 1000 grams)
weight_kg = weight_grams / 1000  

# Convert to integer
weight_kg_int = int(weight_kg)  

# Print the integer weight in kg
print("Weight in kg (Integer):", weight_kg_int)

# Check the type after conversion
print("Type after conversion:", type(weight_kg_int))

In [8]:

# Define the current year
current_year = 2025  # Assuming the current year is 2025

# Mr. Ahmed's age
age = 30  

# Calculate year of birth
year_of_birth = current_year - age  

# Print the year of birth
print("Mr. Ahmed's year of birth:", year_of_birth)

Mr. Ahmed's year of birth: 1995

In [9]:
#type your code here
# Define the current year
current_year = 2025  # Assuming the current year is 2025

# Mr. Ahmed's age
age = 30  

# Calculate year of birth
year_of_birth = current_year - age  

# Print the year of birth
print("Mr. Ahmed's year of birth:", year_of_birth)

Mr. Ahmed's year of birth: 1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [11]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2
# Perform modulus operation

0