## Write a Python program that:

Accepts a comma-separated string of numbers from the user (e.g., "1,2,3,4,5").
Typecasts the input string into a list of integers.
Print the resulting list of integers.
Example Input:
"10,20,30,40,50" or 
[10, 20, 30, 40, 50]

In [5]:
nums = input("Enter comma separated string of numbers:").split(",")
int_nums=[]
for n in nums:
    int_nums.append(int(n))
int_nums

Enter comma separated string of numbers: 1,2,3,4,5,6,7,8,9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# List Comprehension
  - [loop something inside a collection]

In [7]:
[ int(n) for n in input("Enter comma separated string of numbers:").split(',')      ]

Enter comma separated string of numbers: 1,2,3,4,5,6,7,8,9

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
[a for a in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
[student*3 for student in ['a','b','c']]

['aaa', 'bbb', 'ccc']

In [10]:
[a**2 for a in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
[a for a in range(200) if a%10==0]

[0,
 10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190]

In [20]:
[a if a%10==0 else 0 for a in range(1,201) ]

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 20,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 30,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 40,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 50,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 60,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 70,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 80,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 90,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 100,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 110,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 120,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 130,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 140,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 150,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 160,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 170,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 180,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 190,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 200]

In [3]:
nums

['1', ',', '2', ',', '3', ',', '4']

## Write a Python program that user to enter 5 different names (e.g., "Alice, Bob, Charlie, David, Eve").
Stores these names in a list and prints the list.
Then, ask the user for a number and print the name at that index of the list. 

Example Input

"Alice, Bob, Charlie, David, Eve"
Enter an index: 2


Example Output:


List: ['Alice', 'Bob', 'Charlie', 'David', 'Eve']
Name at index 2: Charlie

In [30]:
names=[]                        #[ali, asad, umer, yasir, tahir]
for i  in range(5):
    name = input("Enter name: ")
    names.append(name)
num = int(input("Enter a number: "))    #-3
if (num<len(names)) and (num>=(-(len(names)))):
    print(names[num])   
else:
    print('index sahi nahi hy')

Enter name:  nasir
Enter name:  umer
Enter name:  ali
Enter name:  ayz
Enter name:  faisal
Enter a number:  -4

umer

## Write a Python program that takes an integer input from the user and checks whether the number is:

* Positive

* Negative

* Zero

## Create a Python program that takes a user's age as input and categorizes them into one of the following age groups:

* Child (0-12)
* Teen (13-19)
* Adult (20-64)
* Senior (65+)

Print the corresponding category based on the user's age.

## Write a program that asks the user for their name and age, and prints out a message such as: "Hello [name], you are [age] years old.

## Write a Python program that demonstrates the use of arithmetic operators (+, -, *, /, %, //, **). Provide examples of each operator, such as:

* Addition of two numbers.
* Division of two numbers (including floor division).
* Exponentiation (power).
* Modulus to find the remainder

In [ ]:
while True:
    a = (input("Enter a number: "))
    if (a=='q'):
        print("Thank you for using my calculator!!")
        break
    
    b = (input("Enter another number: "))
    if (b=='q'):
        print("Thank you for using my calculator!!")
        break
    op =input("what operator you want to perform ")
    if (op=='q'):
        print("Thank you for using my calculator!!")
        break
    elif op=='+':
        print(int(a)+int(b))
    elif op=='-':
        print(int(a)-int(b))
    elif op=='*':
        print(int(a)*int(b))
    elif op=='/':
        print(int(a)/int(b))
    elif op=='//':
        print(int(a)//int(b))
    elif op=='**':
        print(int(a)**int(b))
    elif op=='%':
        print(int(a)%int(b))
    else:
        print("Operator not exist")

Enter a number:  3
Enter another number:  5

In [44]:
a,b,op = input("Enter comma separated two numbers and an operator or enter q to exit").split(",")

Enter comma separated two numbers and an operator or enter q to exit q

ValueError: not enough values to unpack (expected 3, got 1)

In [40]:
favourite_dishes=[]
for a in range(5):
    fav_dish = input("Enter you favourite dishes or quit to exit")
    if fav_dish == 'quit':
        break
    favourite_dishes.append(fav_dish)
favourite_dishes

Enter you favourite dishes or quit to exit biryani
Enter you favourite dishes or quit to exit qorma
Enter you favourite dishes or quit to exit quit

['biryani', 'qorma']

While Loops: 
    - for loop iterates over a collection
    - while loop based on condition, untill condition is true

In [41]:
count=0
while count<=10:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
10

In [43]:
favourite_dishes=[]
while True:
    fav_dish = input("Enter you favourite dishes or q to exit").lower().strip()
    if fav_dish == 'q':
        break
    else:
        favourite_dishes.append(fav_dish)
favourite_dishes

Enter you favourite dishes or quit to exit quit

[]

## Create a Program to Reverse a String

## Write a program that takes a list of numbers as input from the user and sorts the list in ascending order. Print the sorted list after the operation.

## Write a program that asks the user for the price of a product and calculates the discount. If the price is greater than 100, give a 20% discount; otherwise, give a 10% discount. Print the discounted price using if-else statements.

## Write a Python program that takes a number (1-7) as input from the user, and prints the corresponding day of the week:

* 1: Monday
* 2: Tuesday
* 3: Wednesday
* 4: Thursday
* 5: Friday
* 6: Saturday
* 7: Sunday

## Write a program that asks the user for the weight of a package and calculates the shipping charges based on the following conditions:


* If the weight is less than 1kg, the shipping cost is $5.
  
* If the weight is between 1kg and 5kg, the shipping cost is $10.

  
* If the weight is between 5kg and 10kg, the shipping cost is $15.

  
* If the weight is greater than 10kg, the shipping cost is $20.

## Write a Python program that asks the user for a single character and checks:

* If the character is either a vowel (a, e, i, o, u) or a consonant (any alphabet letter other than a vowel).
Print "Vowel" if it is a vowel.
 
 Print "Invalid character" if it is neither.

## Write a Python program that asks the student’s grade. The program should check:

* If the grade is greater than or equal to 90 and less than or equal to 100, print "Top 5 Student".
* If the grade is greater than or equal to 80 and less than 90, print "Top 10 Student".
* Otherwise, print "Not in Top 10".

## Write a Python program that checks if a student passed based on the following conditions:

* If the marks are greater than or equal to 50, check
  * if the attendance is 75% or more:
  
  * If attendance is 75% or more, print "Passed".

  * If attendance is less than 75%, print "Failed due to low attendance".
* If the marks are less than 50, print "Failed due to low marks".

## Write a Python program that checks if a person is eligible for a loan:

* If the person’s credit score is above 700, check if their income is above $50,000:
    * If true, print "Loan Approved".
    * If false, print "Loan Denied due to low income".
* If the credit score is below 700, print "Loan Denied due to low credit score