# Return Values

In [43]:
def multiply(a,b):
    return a*b
    print("Heelo")

In [44]:
ans = multiply(3,5)

In [45]:
print(ans)

15

In [13]:
def prepare_aftar(amt):
    dates=5
    fruit_caht=100
    pakore = 50
    aftaar={'dates':dates, 'fruit_chat':fruit_caht, 'pakore':pakore}
    return aftaar

In [15]:
aft = prepare_aftar(500)

In [16]:
aft

{'dates': 5, 'fruit_chat': 100, 'pakore': 50}

In [36]:
def add(a,b):
    c= a+b   # local variable
    return c, "Hello"

In [37]:
ans = add(2,3)

In [38]:
print(c)

NameError: name 'c' is not defined

In [39]:
ans

(5, 'Hello')

In [63]:
def disburse_salary(basic_salary, units, years):
    commission = commison_calculator(units)
    bonus = bonus_calculator(years)
    total = basic_salary+commission+bonus
    tax   = tax_calulator(total)
    loan_ded = loan_deductions(basic_salary)
    gross_salary = basic_salary + commission + bonus - tax - loan_ded
    # gorss_salary = basic_salary+ commison_calculator(units) + bonus_calculator(years)-tax_calulator()
    
    
    print(f"You salary {gross_salary} is credited in your account")

In [64]:
disburse_salary(50000, 200, 15)

You salary 271000.0 is credited in your account

In [50]:
def commison_calculator(units):
    comm_amt = units*1000
    return comm_amt

In [51]:
def bonus_calculator(years):
    if years>=10:
        bonus = 50000
    elif years>=5:
        bonus = 40000
    elif years>=4:
        bonus = 35000
    elif years>=3:
        bonus = 30000
    elif years>=2:
        bonus = 15000
    else:
        bonus=10000
    return bonus

In [53]:
def tax_calulator(total):
    if total>=500000:
        tax = total*.10
    elif total>=300000:
        tax = total*.08
    elif total>=250000:
        tax = total*.06
    elif total>=200000:
        tax = total*.05
    elif total>=150000:
        tax = total*.03
    else:
        tax = total*.02
    return tax

In [57]:
def loan_deductions(basic_salary):
    if basic_salary>=100000:
        deduc = basic_salary*.30
    elif basic_salary>=80000:
        deduc = basic_salary*.25
    elif basic_salary>=70000:
        deduc = basic_salary*.20
    elif basic_salary>=60000:
        deduc = basic_salary*.15
    elif basic_salary>=50000:
        deduc = basic_salary*.10
    else:
        deduc = basic_salary*.05
    return deduc