# Loops
    - For   : iterates over a collection
    - While : runs till condition is True

# Collection: 
   - range()
   - list
   - tuple
   - dictionary
   - set

## Using for loop to iterate over collection items

#### Range()

In [5]:
for a in range(1,10):
    if a==5:
        continue
    else:
        print(a)

1
2
3
4
6
7
8
9

In [36]:
dic = {"name":"Ubaid", 'location':"Karachi", "Course":"Python"}

In [38]:
for a in dic.keys():
    print(a)

name
location
Course

#### Using While Loops to iterate over a collection

In [14]:
a=10
while a>=0:
    print(a)
    a-=1

10
9
8
7
6
5
4
3
2
1
0

In [15]:
alist = [1,2,3,4,5,6,7,8,9,10]

In [22]:
index=0
while index<len(alist):
    print(alist[index]**2,end=" ")
    index+=1

1 4 9 16 25 36 49 64 81 100 40000

In [26]:
index=len(alist)-1
while index>=0:
    print(alist[index]**2,end=" ")
    index-=1

40000 100 81 64 49 36 25 16 9 4 1

In [20]:
alist.append(200)

In [29]:
cart = []
for a in range(6):
    item = input("What do you want to buy? or q to quit ")
    if item == "q":
        break
    cart.append(item)
cart

What do you want to buy? or q to quit  kurta
What do you want to buy? or q to quit  sandle
What do you want to buy? or q to quit  q

['kurta', 'sandle']

In [30]:
cart = []
while True:
    item = input("What do you want to buy? or q to quit ")
    if item == "q":
        break
    cart.append(item)
cart

What do you want to buy? or q to quit  shoes
What do you want to buy? or q to quit  sandle
What do you want to buy? or q to quit  kurta
What do you want to buy? or q to quit  chain
What do you want to buy? or q to quit  watch
What do you want to buy? or q to quit  shirt
What do you want to buy? or q to quit  paint
What do you want to buy? or q to quit  perfume
What do you want to buy? or q to quit  q

['shoes', 'sandle', 'kurta', 'chain', 'watch', 'shirt', 'paint', 'perfume']

In [31]:
# make a dictionary of items 
courses = {'nasir':'python', 'ali':'data analysis', 'faisal':'Artificial Intelligence',
'ahmed':'microservices', 'atif':"agnetic ai"}

In [39]:
for name in courses:
    print(name)
    if name=="faisal":
        print(courses[name])
        break

nasir
ali
faisal
Artificial Intelligence

In [40]:
courses['ali']

'data analysis'

#### Question:
Write a program which will find all such numbers which are divisible by 7 

but are not a multiple of 5,

between 2000 and 3200 (both included).

The numbers obtained should be printed in a comma-separated sequence on a single line.

In [2]:
a = 2000
while a<=3200:
    if (a%7==0) and (a%5!=0):
        print(a, end=",")
    a+=1

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [3]:
for a in range(2000,3201):
    if (a%7==0) and (a%5!=0):
        print(a, end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Question:
Write a program, which will find all such numbers between 1000 and 3000 (both included) 
such that each digit of the number is an even number.
The numbers obtained should be printed in a comma-separated sequence on a single line.

In [10]:
for a in range(1000,3001):
    a_s = str(a)
    if int(a_s[0])%2==0:
        if int(a_s[1])%2==0:
            if int(a_s[2])%2==0:
                if int(a_s[3])%2==0:
                    print(a_s,end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [11]:
for a in range(1000,3001):
    a_s = str(a)
    if (int(a_s[0])%2==0) and (int(a_s[1])%2==0) and (int(a_s[2])%2==0) and (int(a_s[3])%2==0):
        print(a_s,end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [22]:
for a in [1122,22,345,680,541,864280]:
    a_s = str(a)  
    for d in a_s:
        if int(d)%2!=0:
            break
    else:
        print(a_s,end=',')

22,680,864280,

In [21]:
for a in range(10):
    if a>25:
        
        print(a)
        break
else:
    print("Hello")

Hello