# Loop:
    - chakkar

In [2]:
# to print your nama ten times

In [3]:
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")
print("Nasir Hussain")

Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain

In [5]:
for a in range(10):
    print("Nasir Hussain")

Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain
Nasir Hussain

In [7]:
for boss in ["sameer",'fazal','usman','furqan','yahya','ubaid','junaid']:
    print(f"Hello {boss}")

Hello sameer
Hello fazal
Hello usman
Hello furqan
Hello yahya
Hello ubaid
Hello junaid

In [13]:
name = 'anas'

In [14]:
print(f"{name} is great man")

anas is great man

In [15]:
students = ["sameer",'fazal','usman','furqan','yahya','ubaid','junaid']

In [16]:
for student in students:
    print(f"MR.{student} ajj chutti hy")

MR.sameer ajj chutti hy
MR.fazal ajj chutti hy
MR.usman ajj chutti hy
MR.furqan ajj chutti hy
MR.yahya ajj chutti hy
MR.ubaid ajj chutti hy
MR.junaid ajj chutti hy

In [17]:
for student in students:
    if len(student)==5:
        print(f"MR.{student} ajj chutti hy")
    else:
        print(f"MR.{student} ajj ana hy")

MR.sameer ajj ana hy
MR.fazal ajj chutti hy
MR.usman ajj chutti hy
MR.furqan ajj ana hy
MR.yahya ajj chutti hy
MR.ubaid ajj chutti hy
MR.junaid ajj ana hy

In [31]:
for a in range(10):
    print(a, end="")

0123456789

In [32]:
for a in range(1,10):
    print(a, end="")

123456789

In [34]:
for a in range(1,100,5):
    print(a, end=",")

1,6,11,16,21,26,31,36,41,46,51,56,61,66,71,76,81,86,91,96,

In [35]:
for a in range(100,1,-5):
    print(a, end=",")

100,95,90,85,80,75,70,65,60,55,50,45,40,35,30,25,20,15,10,5,

In [36]:
num = int(input("Enter your number"))
if num%2==0:
    print(f"{num} is even")
else:
    print(f"{num} is odd")

Enter your number 6

6 is even

In [37]:
for a in range(10):
    num = int(input("Enter your number"))
    if num%2==0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

Enter your number 5

5 is odd

Enter your number 8

8 is even

Enter your number 7898

7898 is even

Enter your number 2323

2323 is odd

Enter your number 455656

455656 is even

Enter your number 6

6 is even

Enter your number 0

0 is even

Enter your number 3

3 is odd

Enter your number 5

5 is odd

Enter your number 6

6 is even

In [41]:
guests=[]
for a in range(10):
    guest_name = input("Enter guest name: ")
    guests.append(guest_name)
print(guests)

Enter guest name:  Nasir Hussain
Enter guest name:  Ubaid
Enter guest name:  Ali
Enter guest name:  B
Enter guest name:  S
Enter guest name:  D
Enter guest name:  E
Enter guest name:  R
Enter guest name:  T
Enter guest name:  G

['Nasir Hussain', 'Ubaid', 'Ali', 'B', 'S', 'D', 'E', 'R', 'T', 'G']

In [40]:
guests

['Nasir Hussain']

In [46]:
table_no = int(input("Enter table number: "))
for a in range(1,11):
    print(f"{table_no} * {a} =  {a*table_no}")

Enter table number:  3

3 * 1 =  3
3 * 2 =  6
3 * 3 =  9
3 * 4 =  12
3 * 5 =  15
3 * 6 =  18
3 * 7 =  21
3 * 8 =  24
3 * 9 =  27
3 * 10 =  30

In [47]:
for a in range(10):
    if a==5:
        break
    else:
        print(a)

0
1
2
3
4

In [48]:
for a in range(10):
    if a==5:
        continue
    else:
        print(a)

0
1
2
3
4
6
7
8
9

In [49]:
usernames = []
for a in range(10):
    username = input("Enter your username: ").lower()
    if username=='admin':
        continue
    else:
        usernames.append(username)

Enter your username:  nasirh
Enter your username:  ubaidk
Enter your username:  admin
Enter your username:  Admin
Enter your username:  waqas
Enter your username:  asadf
Enter your username:  garar
Enter your username:  rtyui
Enter your username:  nasir
Enter your username:  nasirh

In [50]:
usernames

['nasirh', 'ubaidk', 'waqas', 'asadf', 'garar', 'rtyui', 'nasir', 'nasirh']

In [55]:
usernames = []
for a in range(5):
    username = input("Enter your name: ").lower().strip()
    if (username=='admin') or (username in usernames):
        continue
    else:
        usernames.append(username)

Enter your name:  admin
Enter your name:  admin
Enter your name:  nasir
Enter your name:  hussain
Enter your name:  hasan

In [56]:
usernames

['nasir', 'hussain', 'hasan']

In [57]:
# space removal
text = input("Enter your text: ").lower()
count=0
vowels ="aeiou"
for char in text:
    if char in vowels:
        count+=1

Enter your text:  hello dear sir how are you?

In [58]:
count

10

In [59]:
text = input("Enter your text: ").lower()
count_a=text.count('a')
count_e=text.count('e')
count_i=text.count('i')
count_o=text.count('o')
count_u=text.count('u')

Enter your text:  hello dear sir how are you?

In [61]:
count_a,count_e,count_i,count_o,count_u

(2, 3, 1, 3, 1)

In [18]:
student = {'name':'Ubaid', 'age':20, 'Course':'Python',
            "roll":23, 'institute':'SMIT', 'Gender':'Male'}

In [19]:
# by default pics the keys if we dont mention
for a in student:
    print(a)

name
age
Course
roll
institute
Gender

In [20]:
for a in student.keys():
    print(a)

name
age
Course
roll
institute
Gender

In [21]:
for a in student.values():
    print(a)

Ubaid
20
Python
23
SMIT
Male

In [29]:
print("           Keys       Values")
for key,value in student.items():

    print(f"""           
           {key}       {value}
           
           """)

           Keys       Values

           name       Ubaid



           age       20



           Course       Python



           roll       23



           institute       SMIT



           Gender       Male

In [62]:
for char in "Pakistan":
    print(char)

P
a
k
i
s
t
a
n