In [44]:
square_list([1,2,3,4,5,6,7,8,9,10])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Functions
   - reduce code
   - resuability increase
   - redundanacy decrease
   - debugging easily
### python function
    - print()
    - len()
    - type()
    - input()
    - range()
    - int()
    - float()
    - min()
    - max()
    etc...
### type realted
      - "string".()
      - list.()
      - dict.()
      - set.()
      - tuple.()
### userdefined function()
     - when we defined our own function

In [11]:
# function definition
def say_hello():
    print("Hello, Welcome!")

In [12]:
# function calling
say_hello()

Hello, Welcome!

In [13]:
say_hello()

Hello, Welcome!

In [14]:
say_hello()

Hello, Welcome!

In [9]:
# del say_hello

In [15]:
say_hello()

Hello, Welcome!

In [16]:
def say_hello(name): # parameter
    print(f"Hello! Mr. {name} ")

In [19]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [20]:
say_hello("Atif")

Hello! Mr. Atif

In [21]:
say_hello("Atif", "Asif")

TypeError: say_hello() takes 1 positional argument but 2 were given

In [22]:
def say_hello(name1, name2): # parameter
    print(f"Hello! Mr. {name1} ") 
    print(f"Hello! Mr. {name2} ")

In [23]:
say_hello("Atif", "Asif")

Hello! Mr. Atif
Hello! Mr. Asif

In [24]:
say_hello('nasir')

TypeError: say_hello() missing 1 required positional argument: 'name2'

In [25]:
# define a function that take a number and prints if the number is even or odd
def even_odd(n):
    if n%2==0:
        print(f"{n} is even")
    else:
        print(f"{n} is odd")

In [26]:
even_odd(5)

5 is odd

In [27]:
even_odd(8)

8 is even

In [36]:
# define a function that take a list and prints the square list.
def square_list(lst):
    sqr=[]
    for a in lst:
        sqr.append(a**2)
    print(sqr)

In [37]:
square_list([2,4,6,5,7,8,9])  # {2:4,4:16,6:36}

[4, 16, 36, 25, 49, 64, 81]

In [ ]:
# define a function that takes a list and prints a dictinanry with each list value square

In [43]:
def square_list(lst):
    dic={}
    for a in lst:
        dic[a] = a**2
    print(dic)

In [42]:
square_list([1,2,3,4,5,6,7,8,9,10])

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [38]:
adic={}

In [39]:
adic['name']= "nasir"

In [40]:
adic

{'name': 'nasir'}

#### Default Parameter

In [47]:
def add(a,b,c):
    print(a+b+c)

In [48]:
add(2,4,6)

12

In [49]:
add(2,4)

TypeError: add() missing 1 required positional argument: 'c'

In [60]:
def add(a=0,b=0,c=0):
    print(a+b+c)

In [53]:
add(20,30)

50

In [54]:
add(1,2,3)

6

In [55]:
add(1,2)

3

In [56]:
add(1)

1

In [61]:
add()

0

In [62]:
add(1,2,3,4,5)

TypeError: add() takes from 0 to 3 positional arguments but 5 were given

# Arbitrary Arguments

In [65]:
def add(*a):
    print(sum(a))

In [66]:
add(2,3,4,5,6,7,8,9)

44

In [67]:
add(1,3)

4

In [68]:
add(1,2,3,4,5,6,7,8,9,8,7,6,6,5,4,34,3,2,2,2,2,2)

128

In [70]:
def find_max(*num):
    print(max(num))

In [71]:
find_max(3,4,54,5,5,6,6,7,8,4,23,4,678,1234,321)

1234

In [72]:
def find_avg(*num):
    s = sum(num)
    avg = s / len(num)
    print(avg)

In [73]:
find_avg(12,12,13,11,12,13,14,15,12,12,13)

12.636363636363637

In [78]:
# defne a function that print the sum of even numbers 
# from the given all numbers
def even_sums(*nums):
    evens=[]
    for a in nums:
        if a%2==0:
            evens.append(a)
    print(sum(evens))

In [79]:
even_sums(1,2,3,4,5,6,7,8,9,10)

30

In [80]:
def even_sums(*nums):
    sums=0
    for a in nums:
        if a%2==0:
            sums+=a
    print(sums)

In [81]:
even_sums(1,2,3,4,5,6,7,8,9,10)

30

# KeyWord Arguments

In [89]:
def calc_tax(amt,tax_per):
    tax_amt = amt * (tax_per/100)
    print(tax_amt)

In [90]:
calc_tax(100000,15)

15000.0

In [91]:
calc_tax(.15,100000)

150.0

In [92]:
def biodata(name,age,gender,bloodgp,height,weight):
    bio_data={'name':name, 'age':age,'gender':gender,
              "bloodgp":bloodgp, 'height':height,
              'weight':weight}
    print(bio_data)

In [93]:
biodata('ahmed',20,'Male','AB-',"6ft", '97kg') # positional

{'name': 'ahmed', 'age': 20, 'gender': 'Male', 'bloodgp': 'AB-', 'height': '6ft', 'weight': '97kg'}

In [94]:
biodata(gender='Male', height="6ft", name="Ahmed", age=20,weight=97,bloodgp="AB-")
# keyword

{'name': 'Ahmed', 'age': 20, 'gender': 'Male', 'bloodgp': 'AB-', 'height': '6ft', 'weight': 97}

In [95]:
biodata('ahmed', 20, 'Male', weight=97,bloodgp='AB-', height=6)
# mix of positional and keyword

{'name': 'ahmed', 'age': 20, 'gender': 'Male', 'bloodgp': 'AB-', 'height': 6, 'weight': 97}

In [98]:
def create_profile(name, age, qualification,subject, *other_info ):
    print(name)
    print(age)
    print(qualification)
    print(subject)
    for info in other_info:
        print(info)

In [99]:
create_profile('Ahmed', 20, 'BS', 'Chemistry', '6ft', 97, 'Ab-')

Ahmed
20
BS
Chemistry
6ft
97
Ab-

In [101]:
def create_profile(name, age, qualification,subject, **other_info ): # keywords arugments
    print(name)
    print(age)
    print(qualification)
    print(subject)
    print(other_info)
    # for info in other_info:
    #     print(info)

In [102]:
create_profile(name='Ahmed', age=20,qualification='Phd',subject='Physics', hieght=6, weight=97, bloodgp="ab-",gender="Male")

Ahmed
20
Phd
Physics
{'hieght': 6, 'weight': 97, 'bloodgp': 'ab-', 'gender': 'Male'}

In [103]:
def create_profile(name, age, qualification,subject, **other_info ): # keywords arugments
    profile={}
    profile['name']=name
    profile['age'] = age
    profile['qualification']=qualification
    profile['subject']=subject
    profile.update(other_info)
    print(profile)

In [105]:
create_profile(name='Ahmed', age=20,qualification='Phd',subject='Physics', hieght=6, weight=97, bloodgp="ab-",gender="Male",
              location="Karachi", Fav_food='Biryani', Fav_Drink='Tea')

{'name': 'Ahmed', 'age': 20, 'qualification': 'Phd', 'subject': 'Physics', 'hieght': 6, 'weight': 97, 'bloodgp': 'ab-', 'gender': 'Male', 'location': 'Karachi', 'Fav_food': 'Biryani', 'Fav_Drink': 'Tea'}

# Return

In [122]:
def multiply(n1,n2):
    ans = n1 * n2  # local variable: nnot accessbile outside the function
    return ans

In [123]:
multiply(2,4)

8

In [124]:
def create_profile(name, age, qualification,subject, **other_info ): # keywords arugments
    profile={}
    profile['name']=name
    profile['age'] = age
    profile['qualification']=qualification
    profile['subject']=subject
    profile.update(other_info)
    return profile

In [125]:
create_profile(name='Ahmed', age=20,qualification='Phd',subject='Physics', hieght=6, weight=97, bloodgp="ab-",gender="Male",
              location="Karachi", Fav_food='Biryani', Fav_Drink='Tea')

{'name': 'Ahmed',
 'age': 20,
 'qualification': 'Phd',
 'subject': 'Physics',
 'hieght': 6,
 'weight': 97,
 'bloodgp': 'ab-',
 'gender': 'Male',
 'location': 'Karachi',
 'Fav_food': 'Biryani',
 'Fav_Drink': 'Tea'}